<html>
  <head>
    <script src='http://www.google.com/jsapi'></script> 
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Great success!</h1>
  <p> The <%= @repo.name %> repository owned by GitHub user <%= @repo.owner %> has <%= @repo.contributors.count %> contributors in <%= @repo.location_count.count %> locations.
    <% @repo.location_count.each do |x| %>
     <% if x[0] == nil
        key = "Location Unknown"
      else
        key = x[0]
      end
      value = x[1] %>
      <li><%= "#{value}" %> contributor in <%= "#{key}" %></link>
    <% end %>
    </p>
  <div id='chart_markers'></div>
    <%= @chart_markers.to_js("chart_markers") %>
    <p>Please enter another GitHub repo and repo owner below to generate another map.
    </p>

  <form action="/" method="post">  
  Repo name: <input type="text" name="repo"><br>  
  Repo owner's GitHub username: <input type="text" name="owner">  
  <input type="submit">
  </form>  
  </body>
</html>


