<html>
  <head>
    <script src='http://www.google.com/jsapi'></script> 
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
    <title>Octomaps: <%= @repo.owner %>/<%= @repo.name %></title>
  </head>
  <body>

  <div id = "left">
    <header>
      <h1>Great success!</h1>
      <h2><strong><%= @repo.find_contributors.size %></strong> contributors in<br>
          <strong><%= @repo.location_count.size %></strong> locations for<br>
          <strong><%= @repo.owner %>/<%= @repo.name %></strong></h2>
    </header>
    <div id = "table">
      <ul>
        <% list = @repo.location_count.sort_by{|location, contributors| contributors}.reverse %>
        <% list.each do |location, count| %>
          <li><%= "#{count}" %> in <%= "#{location}" %></li>
        <% end %>
      </ul>
    </div>
    <div id = "query_form">
      <form action="/" method="post">  
      <p>Enter a GitHub repository owner and name to generate another map.</p>
      Repository Owner: <input type="text" name="owner">  
      Repository Name:<br> <input type="text" name="repo"><br>  
      <input type="submit" value="Submit" id = "submit"></form>
    </div> 
  </div>  
  <div id='chart_markers'>
    <%= @chart_markers.to_js("chart_markers") %>
  </div>

  </body>
</html>