%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:users, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:users, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:users, :destroy_many), :method => :delete do
                      =hidden_field_tag :user_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:user, :id)
        %th.header= mat(:user, :username)
        %th.header= mat(:user, :gravatar_id)
        %th.header= mat(:user, :email)
        %th.header= mat(:user, :created_at)
        %th.header= mat(:user, :updated_at)
        %th.header= mat(:user, :location_id)
        %th.header= mat(:user, :contributions_count)
        %th.header.list-row-action-header

    %tbody
      -@users.each do |user|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'user_ids[]', :value => user.id, :class => 'list-selectable-checkbox'
          %td.list-column=user.id
          %td.list-column=user.username
          %td.list-column=user.gravatar_id
          %td.list-column=user.email
          %td.list-column=time_ago_in_words user.created_at
          %td.list-column=time_ago_in_words user.updated_at
          %td.list-column=user.location_id
          %td.list-column=user.contributions_count
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:users, :edit, :id => user.id), :rel => :tooltip, :title => "#{pat(:edit)} user", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} user", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "user")
                .popover-content
                  -form_tag url(:users, :destroy, :id => user.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
