- @title = "Octomaps: #{@repo.full_name}"
%body.map
  #left
    %header
      %h1 Great success!
      %h2
        %strong= @repo.contributions_count
        contributors in
        %br
        %strong= @location_count_hash.size
        - if params[:city]
          locations for
        - elsif params[:country]
          countries for
        %br
        %strong= @repo.full_name
      #twitter
        %a.twitter-share-button{:href => "https://twitter.com/share"} Tweet
        %script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    #table
      %ul
        - @list.each do |location, count|
          %li
            = "#{count} in #{location}"
    #query_form
      %p 
        Enter a GitHub repository owner and name to generate another map.
        Repository Owner:
      = partial 'public/form'
      %footer
        * Please note that this option maps contributors by the location they have specified on their GitHub account, which is not standardized.
    #credits
      %ul
        %li Created by:
        %li
          %a{:href => "http://www.twitter.com/johnkferguson"}> John Kelly Ferguson
          ,
          %a{:href => "http://www.twitter.com/mrikhter"} Masha Rikhter
          \&
          %a{:href => "http://www.twitter.com/jkestler"} Justin Kestler
        %li
          Students at the
          %a{:href => "http://www.flatironschool.com"} Flatiron School.          
  #chart_markers
    != @chart_markers.to_js('chart_markers')